---
title: "Portland, Lake Oswego, Beaverton, Clackamas: Window Cleaning"
---

= stylesheet_link_tag "windows"
- content = data["pages"]["windows"]

%div.banner
  %div.container
    %div.col-xs-6
    %h1= content["title"]
    %p= content["subtitle"]
    %div.row.contact
      %div.col-sm-offset-3.col-sm-3.info
        %a{ :href => "tel:971-231-5309" }= "Call Us"
      %div.col-sm-3.info
        = mail_to("jacob@bridgecitysqueegee.com", "Email Us", subject: "Follow Up Requested")
