---
title: "Portland, Lake Oswego: Windows, Gutters, Handiman."
---

= stylesheet_link_tag "services"
- content = data["pages"]["services"]

%div.banner
  %div.container
    %div.col-xs-6
    %h1= content["title"]
    %p.coverage= content["coverage"]
  %div.container-fluid
    %div.row.subtitle
      %p= content["subtitle"]
    %div.row.contact
      %div.col-sm-offset-3.col-sm-3.info
        %a{ :href => "tel:971-231-5309" }= "Call Us"
      %div.col-sm-3.info
        = mail_to("jacob@bridgecitysqueegee.com", "Email Us", subject: "Follow Up Requested")

%div.container.services
  %ul
    - content["serviceType"].each do |service|
      %li
        %h4= service[:label]
        %p= service[:description]

%div.mission
  %div.container
    - content["mission"].each do |mission|
      %p= mission[:statement]
      %p= mission[:quoted]
